:root{
    --primary-color:#e7b45a;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --text-nhat:#707070;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 

}

html{
    font-size: 62.5%; /* 1 rem = 12 px */
    line-height: 1.6rem;
    box-sizing: border-box;
    line-height: var(--primary-color);
}


.app{
    height: 100vh;
    width: 100%;
    max-width: 484px;
    background-color: #FEF9EF;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .date{
    height:20px;
    background-color: #A2D2FF;
}
.app .date p {
    line-height:20px;
    padding-left: 10px;
    font-weight: 600;
    color: var(--text-color)
}   
.total__price{
    background-color: var(--white-color);
    height: 160px;
    width:90%;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    

}
.total__price-top{
    height: 50%;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;

}
.total__price-top-title-text{
    font-size: 1.5rem;
}
.total__price-top-title-totalPrice{
    padding-top: 10px;
    font-weight: 600;
    display: block;
    font-size: 2rem;
    color: #FF865E;
    
}
.total__price-bottom{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.total__price-bottom p {
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.total__price-bottom span{
    font-size: 1.6rem;
    font-weight: 600;
}


/* menu */
.menu{
    display:none;
}
.menu.active{
    display: block;
}
.menu-add-bill{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    background-color:var(--white-color);
    border-radius:20px;
    height:400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.menu-add-bill{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8%;

    
}
.menu-item{
    margin:20px 0px;
    width: 45%;
    height:40%;
    display: flex;
    background-color: #FEE440;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.menu-item i{
    font-size: 3rem;
    padding-bottom: 5px;
}
.menu-item p{
    font-size: 1.3rem;
    font-weight: 600;
}
.nav__bottom{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: var(--white-color)
}
.nav__option{
    cursor: pointer;
    width:25%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__option.active{
    background-color: #FF865E;
    color:var(--white-color)
}
.nav__bottom{
    text-align:center;
}
.nav__bottom i{
    font-size: 1.6rem;
    padding-bottom: 6px;
}
.nav__bottom p {
    font-size: 1.2rem
}